/* imagenes principl 1 -  colocando aceite den las manos
Foto de <a href="https://unsplash.com/@caishan119?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">alan caishan</a> en <a href="https://unsplash.com/es/s/fotos/spa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
Imagene principal 2 -  colocando mascarilla con brocha
Foto de <a href="https://unsplash.com/@raphaellovaski?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Raphael Lovaski</a> en <a href="https://unsplash.com/es/s/fotos/spa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
imagen princiap 3 - mostrando uñas
Foto de <a href="https://unsplash.com/@designecologist?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">DESIGNECOLOGIST</a> en <a href="https://unsplash.com/es/s/fotos/u%C3%B1as?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
Imagen principal 4 - colocando aceite en la mano
Foto de <a href="https://unsplash.com/@christinhumephoto?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Christin Hume</a> en <a href="https://unsplash.com/es/s/fotos/spa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

*/

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #EDEDE9;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

/*globales*/
.container {

    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*barra de navegación*/
.logo {
    width: 5.6875rem;
    height: 5rem;
}
.container_main{
    background-color: #EDEDE9;
        width: 100%;
        height: 100;
}
.container_nav {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: .5rem;

}

.nav_element {
    list-style: none; 
}

.nav_link {
    text-decoration: none;
    color: #BB8C71;
}

.nav_list {
    display: flex;
    gap: 2rem;
}

.nav_list :hover {

    color: #83604b;
}
.nav_menu{
    display: none;
}
/*Imagen principal*/

.hero {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)) ,url(./images/Finales/image_backgraund1.jpg);
    
    background-size: cover;
    background-position: center;

}

.container_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.texto_hero {
    font-size: 2.5rem;
    font-family: 'Lexend Deca';
    color: #F5EBE0;
    font-weight: 600;
    margin-bottom: 1.375rem;
}

.button_hero {
    background: transparent;
    border: 5px solid #E3D5CA;
    color: #F5EBE0;
    width: 15.3125rem;
    height: 4.6875rem;
    border-radius: 5PX;
    font-size: 2rem;
    font-weight: 600;
}
.button_hero:hover{
    background: #e3d5ca71;
    color: #fcfcfc;
    border: 5px solid #fff7f1;
}

/*Seccion de  LOS 3 MÁS PEDIDOS servicios
.los_mas_pedidos{
    width: 100%;
    height: 460px;

}
.container_los_mas_pedidos{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.los_mas_pedidos_title{
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-right: .5rem;
    margin-bottom: 1.5rem;
    color: #4D2958;
}
.servicio{
    width:19.8125rem;
    height: 20.875rem;
    background-color: #664171;
    text-align: center;
    color: #ffe6f2; 
    box-shadow: 2px 5px 10px rgb(41, 41, 41);


}
.img_producto{
    width: 95%;
    height: 12.375rem;
    margin: .5rem auto;
    border-radius: .5rem;
}

*/
/*Seccion de Bienvenida 1 */
.section_bienvenida1{
    text-align: center;
    color: #BB8C71;
    margin-top: 2rem;
}
.spa_oasis{
    color: #BA0203;
}
.paragraph_bienvenida{
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-size: 1rem;
}

/*Seccion de Bienvenida 2 */
.section_bienvenida2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(images/Finales/image_backgraund2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 30rem;
}
.paragraph_subtitle1{
    font-family: 'Lexend Deca';
    font-weight: 700;
    font-size: 2.25rem;
    text-align: center;    
    color: #BB8C71;
    width: 80%;  
    margin: 0 auto;
    padding-top: 4rem;
}
.paragraph_texto_bienvenida2{
    width: 80%;
    margin: 0 auto;
    color: #F5EBE0;
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center; 
    padding-top: 2.5rem;

}
.section_texto{
    width: 75%;
    margin: 0 auto;
}
/*Seccion de Beneficios */
.title_beneficios{
    font-family: 'Poppins';
font-weight: 400;
font-size: 36px;
text-align: center;
color: #BB8C71;
padding-top: 3.0625rem;
padding-bottom: 6.375rem;

}
.container_beneficios{
    color: #BB8C71;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 6.375rem;
}
.container_beneficios_items{
    display: flex;
    justify-content: space-between;
 
}

.item_box_interno{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.icon{  
margin-bottom: 1.5rem;

}
.gg-check-o{
    width: 10rem;
    height: 10rem;
    margin-bottom: .2rem;
    
}
.gg-sun{
    margin-bottom: .2rem;
}
.gg-heart{
    margin-bottom: 1rem;
}








/* section reviews*/
#sobre_nosotros{
    padding-bottom: 1rem;
    color: #4D2958;
    text-align: center;
}
.section_reviews_text{
    width: 90%;
    margin: 0 auto;
    padding-top: 2.18rem;
    padding-bottom: 3.625rem;
    color: #2600ad;

}

.section_reviews {
    width: 100%;
    min-height: 28.75rem;
    margin-top: 3.5rem;

}

.conteiner_review {
    background-color: #3F4E61;
    width: 20.625rem;
    min-height: 12.75rem;
    border-radius: 0.625rem;   
    padding-top: 1.875rem;
    display: flex; 
    box-shadow: 2px 5px 10px rgb(41, 41, 41);

}
.container_texto_star{
    display: flex;
    flex-direction: column;
}

.Container_section_reviews {

    justify-content:space-around;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;

}

.img_review {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    padding-left: 1rem;
    padding-right: .5rem

}

.text_review {
    padding-top: .5rem;
    padding-right: .5rem;
    margin-bottom: 1.5rem;
    color: #F5EBE0;
}

.img_star {
    width: 2rem;
    height: 1.80rem;
}

/*Section benefits*/

.section_benefits
{
    width: 100%;
    height: 35.75rem;
    margin-top: 3.5rem;
    color: #DFDFE1;
}
.conteiner_benefits{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,5.9583rem);


}
.conteiner_benefits_image{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    object-fit: cover;
    box-shadow: 2px 5px 10px rgb(41, 41, 41);
    

}
.container_list{
padding-top: 1.5rem;

}
.conteiner_benefits_texto{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 7;
    box-shadow: 2px 5px 10px rgb(41, 41, 41);

    

}
.conteiner_benefits_title{
    font-weight: bolder;
    color: #4D2958;
}
.conteiner_benefits_list{
    color: #73628A;
    font-weight: lighter;
    line-height: 3rem;

}


/* ---------------paage nosotros-----------------*/
.container_main_nosotros{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction:column;
    width: 90%;
    height: 50rem;
    margin: 0 auto;
}
.container_user1{
    display: flex;
    width: 100%;
    height: 45rem;

}
.img_nosotros{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-top: 5.9375rem;
    margin-left: 1rem;
    margin-right: 2rem;



}
.container_nosotros_texto{
    padding-top: 9.375rem;
    width: 41rem;


}
.puesto_nosotros_texto{
    padding-bottom: 3.375rem;

}
.parrafo_nosotros_texto{
    padding-bottom: 1.8125rem;
}
.container_logros{
    background-color: #c9c9c9;
    width: 100%;
    height: 11rem;
}

.container_users{
    display: flex;
    flex-direction: column;

}
/*------------page contacto------*/
.container_main_contacto{
    background-color: #F5F5F5;
    width: 90%;
    height: 46rem;
    margin: 0 auto;
    display: flex;
    color: #F5F5F5;
}
.container_mensaje_contacto{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.mensaje_contac{
    width: 60%;
    height: 30rem;
    background-color: #73628A;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.redes_sociales{
    background-color: transparent;
    width: 60%;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.caja_texto{
    width: 70%;
    height: 2rem;
}
.caja_texto_mensaje{
    width: 70%;
    height: 10rem;
}

.label_nombre{
    padding-top: 3rem;
}
.Submit{
    padding: .6rem 1.2rem;
    color: #90506D;
    margin-top: 2.7rem;
}
.Submit:hover{
    background-color: #d6d6d6;
}
.img_redes{
    display: flex;
    width: 4rem; 

}
@media (max-width:600px){

    /*seccion nav*/
    .logo {
        width: 4.1875rem;
        height: 3.5rem;
    }


    .nav_menu{
        display: flex;
    }
    .nav_list {
        display: flex;
        position: fixed;
        background-color: #90506dc5;
        top: 68px;
 
        right:0;
        left: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translatex(100%);
        transition: transform .3s;

    }
    .nav_list--show{
        transform: translateX(0);
    }
    .container_main{
    background-color: #90506D;
    position: fixed
}

/*Section los  3  más pedidos*/
.container_los_mas_pedidos{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.servicio{
    width:100%;
    height: 20.875rem;
    background-color: #664171;
    text-align: center;
    color: #ffe6f2; 
    box-shadow: 2px 5px 10px rgb(41, 41, 41);


}
.los_mas_pedidos{
    height: 1200px;

}

/*section reviews*/
.conteiner_review {
    background-color: #EAEDBE;
    border-radius: 0.625rem;   
    padding-top: 1.875rem;

}
.section_reviews {
    height: 70.75rem;
}
.Container_section_reviews {
    width: 95%;
    flex-direction: column;
    gap: 2rem;

}

.conteiner_review {
    width: 100%;
}
/*section benefits*/

    
}
